#selectodtable{
     padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    display: none;
}
#pagectrl{
    text-align: center;
    display: none;
    font-size: large;
}
#selectorder{
    display: none;
}

#newodtable{
     padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    display: none;
}
.page-header{
    margin-top: 10px;
 
}
/*
.select1{
    font-size: 20px;
    margin-left: 10px;
}
.select2{
    height: 30px;
    width: 250px;
    font-size: 18px;
    margin-bottom: 10px;
}
*/
#uuu{
    margin-left: 100px;
}
#selectordershow,#neworder{
    margin-left: 20px;
    width: 80px;
    font-size: 14px;
    text-align: center;
/*    margin-bottom: 10px;*/
}
a{  
    margin-right:  20px;
    text-emphasis-color: black;
}

#newordertable th,
#newordertable td,
#selectordertable th,
#selectordertable td{
    text-align: center;
    font-size: 18px;
    border: 1px lightgray solid;
}
.inputxxx{
    width: 250px;
    height: 28px;
}
#gnamesss{
    width: 180px;
    height: 28px;
}
#modalneworder,#searchallgoodxxx{
    display: none;
}
/*
#endtimexxx{
    display: none;
}*/
